<template>
    <b-container class="bv-example-row">
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="5"></b-col>
            <b-col><blog-nav/></b-col>
        </b-row>
        <b-row class="text-center">
            <b-col><new-post-modal v-if="$store.state.loggedIn"/></b-col>
            <b-col cols="5"><blog-posts/></b-col>
            <b-col></b-col>
        </b-row>
    </b-container>
</template>

<script>
    import BlogNav from './Nav'
    import BlogPosts from './BlogPosts'
    import NewPostModal from './NewPostModal'
    export default {
        name: 'blog',
        components: { BlogNav, BlogPosts, NewPostModal },
        resource: 'Blog',
    }
</script>
