<template>
    <b-list-group>
        <b-list-group-item href="#" class="flex-column align-items-start"
           v-on:add-post="loadPost" v-for="post in posts" :key="post._id"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Title: {{post.title}}</h5>
                <small>Status: {{post.status}}</small>
            </div>
            <p class="mb-1">
                {{post.body}}
            </p>
            <post-modal v-if="$store.state.loggedIn" :post="post" v-bind:key="post.id"/>
            <delete-post v-if="$store.state.loggedIn" :post="post"/>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
    import axios from 'axios';
    import PostModal from './PostModal'
    import DeletePost from './DeletePost'
    export default {
        name: 'posts',
        data () {
            return {
                posts: {}
            }
        },
        components: {
            PostModal,
            DeletePost
        },
        methods: {
            loadPost () {
                this.getPosts()
            },
            getPosts () {
                self = this
                axios.get(this.$store.state.blogApiUri)
                    .then(function (response) {
                        let newPosts = response.data
                        self.posts = newPosts
                    })
                    .catch(function (error) {
                        console.log(error)
                        console.log('An error occured while loading the posts');
                    });
            }
        },
        beforeMount (){
            this.getPosts()
        },
    };
</script>