<template>
    <b-button variant="danger" v-on:click="deletePostAlert()">Delete</b-button>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'PostModal',
        props: [
            'post'
        ],
        methods: {
            deletePostAlert () {
                self = this
                var result = confirm("Do you want to delete this post? " + this.post.title);
                if (result === true) {
                    axios.delete(
                        self.$store.state.blogApiUri + '/' + self.post._id,
                        {headers: {Authorization: "Bearer " + self.$store.state.token}})
                        .then(function (response) {
                            self.post.title = 'deleted'
                            self.post.body = 'deleted'
                            self.post.status = 'deleted'
                        })
                        .catch(function (error) {
                            alert('An error occured during deletion');
                        });
                } else {
                    console.log('Did not delete the post')
                }
            }
        }
    };
</script>