<script>
    import axios from 'axios';
    export default {
        name: 'LoginModal',
        methods: {
            handleOk (evt) {
                // Prevent modal from closing
                evt.preventDefault()
                if (!this.username) {
                    alert('Please enter your username')
                } else if (!this.password) {
                    alert('Please enter your password')
                } {
                    this.handleSubmit()
                }
            },
            handleSubmit () {
                self = this
                axios.post(self.$store.state.apiTokenUri, {
                    grant_type: "password",
                    client_id: 3,
                    username: this.username,
                    password: this.password,
                    scope: "*",
                    client_secret: self.$store.state.authClientSecret
                }).then(function (response) {
                    self.$store.commit('isLoggedIn')
                    self.$store.commit('setToken', response.data.access_token)
                })
                .catch(function (error) {
                    alert('An error occured during log in');
                });
                if (self.$store.state.loggedIn) {
                    this.$refs.loginModal.hide()
                }
            }
        }
    };
</script>

<template>
    <div>
        <b-nav-item v-b-modal.loginModal>Login</b-nav-item>
        <b-modal @ok="handleOk" ref="loginModal" id="loginModal">
            <b-form>
                <b-form-input type="text"
                              placeholder="Username"
                              v-model="username">
                </b-form-input>
                <b-form-input type="password"
                              placeholder="password"
                              v-model="password">
                </b-form-input>
            </b-form>
        </b-modal>
    </div>
</template>