<template>
    <div>
        <b-nav pills>
            <b-nav-item active>Home</b-nav-item>
            <modal v-if="!this.$store.state.loggedIn"/>
        </b-nav>
    </div>
</template>

<script>
    import modal from './LoginModal'
    export default {
        name: 'app',
        components: {
            modal,
        }
    };
</script>