<script>
    import axios from 'axios';
    export default {
        name: 'NewPostModal',
        methods: {
            handleOk (evt) {
                // Prevent modal from closing
                evt.preventDefault()
                if (!this.title) {
                    alert('Please enter valid title for the post')
                } else if (!this.body) {
                    alert('Please enter valid body for the post')
                } else if (!this.status) {
                    alert('Please enter valid status for the post')
                } else {
                    this.handleSubmit()
                }
            },
            handleSubmit () {
                self = this
                axios.post(self.$store.state.blogApiUri, {
                    title: self.title,
                    body: self.body,
                    status: self.status
                }, {headers: {Authorization: "Bearer " + self.$store.state.token}}).then(function (response) {

                })
                .catch(function (error) {
                    alert('An error occured during update');
                });
                this.$emit('add-post')
                this.$refs.newPostModal.hide()
            }
        }
    };
</script>
<template>
    <div>
        <b-button variant="success" v-b-modal.newPostModal>Add a new post</b-button>
        <b-modal @ok="handleOk" ref="newPostModal" id="newPostModal">
            <b-form>
                <b-form-input type="text"
                              placeholder="title"
                              v-model="title">
                </b-form-input>
                <b-form-input type="body"
                              placeholder="body"
                              v-model="body">
                </b-form-input>
                <b-form-input type="status"
                              placeholder="status"
                              v-model="status">
                </b-form-input>
            </b-form>
        </b-modal>
    </div>
</template>