<script>
    import axios from 'axios';
    export default {
        name: 'PostModal',
        props: [
            'post'
        ],
        methods: {
            handleOk (evt) {
                // Prevent modal from closing
                evt.preventDefault()
                if (!this.title) {
                    alert('Please enter valid title for the post')
                } else if (!this.body) {
                    alert('Please enter valid body for the post')
                } else if (!this.status) {
                    alert('Please enter valid status for the post')
                } else {
                    this.handleSubmit()
                }
            },
            handleSubmit () {
                self = this
                axios.put(self.$store.state.blogApiUri + '/' + self.post._id, {
                    title: self.title,
                    body: self.body,
                    status: self.status
                }, {headers: {Authorization: "Bearer " + self.$store.state.token}}).then(function (response) {
                    self.post.title = self.title
                    self.post.body = self.body
                    self.post.status = self.status
                })
                .catch(function (error) {
                    alert('An error occured during update');
                });
                this.$refs.postModal.hide()
            }
        }
    };
</script>
<template>
    <div>
        <b-button v-b-modal.postModal>Edit</b-button>
        <b-modal @ok="handleOk" ref="postModal" id="postModal">
            <b-form>
                <b-form-input v-bind:value="post.title"
                              type="text"
                              placeholder="title"
                              v-model="title">
                </b-form-input>
                <b-form-input v-bind:value="post.body"
                              type="body"
                              placeholder="body"
                              v-model="body">
                </b-form-input>
                <b-form-input v-bind:value="post.status"
                              type="status"
                              placeholder="status"
                              v-model="status">
                </b-form-input>
            </b-form>
        </b-modal>
    </div>
</template>